<div class="card">

  <div class="card-body">
    <h5 class="card-title">{% trans %}lyac.results.title{% endtrans %}</h5>
    <p class="card-text">{% trans %}lyac.results.subtitle{% endtrans %}</p>
    <div class="list-group">
    {% for year in result_years %}
      <a href="{{ path( 'results', {'year': year } ) }}" class="list-group-item">{{ year }}</a>
    {% endfor %}
    </div>
  </div>
</div>
