<div class="card">

  <div class="card-body">
  {% if callsign is empty %}
    <h5 class="card-title">{% trans %}lyac.callsign.notfound.title{% endtrans %}</h5>
    <p class="card-text">{% trans %}lyac.callsign.notfound.message{% endtrans %}</p>

  {% else %}
    <h5 class="card-title">{% trans %}lyac.callsign.participant{% endtrans %}
    {{ callsign | upper }}
    {% trans %}lyac.callsign.information{% endtrans %}</h5>
  {% endif %}
</div>

</div>