<div class="card">
<div class="card-header">
  Paskutinio turo informacija
</div>
  <div class="card-body">
    <h5 class="card-title">2018 m. lapkritis - 432 MHz</h5>
    <h6 class="card-subtitle mb-2 text-muted">Gautos ataskaitos</h6>
    {% for s in lastMonthStats %}
      {{ s }}...
    {% endfor %}
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h6 class="card-subtitle mb-2 text-muted">Dalyvių ryšių žemėlapis</h5>

  </div>
</div>
