<div class="card">

  <div class="card-body">
    <h5 class="card-title">Paskutinio mėnesio LYAC informacija</h5>
    <h6 class="card-subtitle mb-2 text-muted">Paskutinę ataskaitą LYAC robotas gavo: </h6>
    <p class="card-text">{{ lastDate }}</p>
    <h6 class="card-subtitle mb-2 text-muted">Dalyvių šį mėnesį: </h6>
    <p class="card-text">
    {% for s in lastMonthStats %}
       {{ s.bandFreq }} -
       <b>{{ s.count }}</b>{% if not loop.last %}, {% endif %}
    {% endfor %}
    </p>
    <h6 class="card-subtitle text-muted">Paskutiniai gauti žurnalai:</h6>
    <p class="card-text">
    {% for c in lastCallsigns  %}
      {{ c.callsign }}{% if not loop.last %}, {% endif %}
    {% endfor %}</p>

  </div>
</div>
